<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Caleche.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3FA89B061C00683B009750DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA89B1F1C00683B009750DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3FA89B2A1C00683B009750DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
